/*
Project Name:
Client: Leon Noel
Author: John Fleurimond
Developer from Resilient Coders. Can't Stop. Won't stop
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
}

/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("../img/arena.png");
  background-size: cover;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

#poke-container {
  width: 960px;
  margin: auto;
}

header {}

button {
  color: #ffd000;
  background-color: #3a49af;
  border: 1px solid #ffd000;
  border-radius: 12px;
  position: absolute;
  left: 67em;
  top: 40em;
  text-align: center;
}

button:hover {
  background-color: #ffd000;
  color: #3a49af;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/